.brand {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    /* text-shadow: 2px 2px hsl(0, 0%, 71%); */
    text-shadow: 1px 1px 1px hsl(348, 100%, 31%);
    line-height: 1;
}
